APP_URL=http://localhost:8080/

MYSQLDB_HOST=localhost
MYSQLDB_PORT=3306
MYSQLDB_DATABASE=scm
MYSQLDB_USER=
MYSQLDB_ROOT_PASSWORD=

KAFKA_HOST=localhost
KAFKA_PORT=9092

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=
